<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
        

    <!-- Custom CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>

<body>
    <div class="grid-container">

        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left, search-box">
                <span class="material-icons-outlined">search</span>
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder=" Search"
                       name="search">
            </div>
            <div class="header-right">
                <span class="material-icons-outlined">notifications</span>
                <span class="material-icons-outlined">email</span>
                <a href="{{url_for('logout')}}" class="btn btn-primary btn-block"><span class="material-icons-outlined">account_circle</span></a>
                
            </div>
        </header>
        <!-- End Header -->

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">inventory</span> Skill Finder
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="/skills" target="_blank">
                        <span class="material-icons-outlined">inventory_2</span> Skills Recommendation
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/jobs" target="_blank">
                        <span class="material-icons-outlined">fact_check</span> Job Recommendation
                    </a>
                </li>
                <!--<li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">add_shopping_cart</span> Courses
                    </a>
                </li> -->
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">shopping_cart</span> Road Map
                    </a>
                </li>
                <!--
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">poll</span> Reports
                    </a>
                </li>    -->
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">settings</span> Settings
                    </a>
                </li>
            </ul>
        </aside>
        <!-- End Sidebar -->

        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">DASHBOARD</p>
            </div>

            <div class="main-cards">

                <div class="card" id="emergingSkillsCard">
                    <div class="card-inner">
                        <p class="text-primary"><b>Emerging Skills</b></p>
                        <span class="material-icons-outlined text-blue">computer</span>
                    </div>
                    <div id="emergingSkillsContent"></div> <!-- Container for emerging skills content -->
                </div>

                <div class="card" id="emergingjobsCard">
                    <div class="card-inner">
                        <p class="text-primary"><b>Emerging Jobs</b></p>
                        <span class="material-icons-outlined text-blue">fact_check</span>
                    </div>
                    <div id="emergingjobsContent"></div> <!-- Container for emerging skills content -->
                </div>
            </div>


        </main>
        <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->

    <button class="chatbot-toggler">
        <span class="material-symbols-rounded">mode_comment</span>
        <span class="material-symbols-outlined">close</span>
        </button>
        <div class="chatbot">
        <header>
            <h2>Chatbot</h2>
            <span class="close-btn material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Hi there 👋<br>How can I help you today?</p>
            </li>
        </ul>
        <div class="chat-input">
            <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
            <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
        </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>